# Team Lead
* @rosle

# Team Members
* @andyduong1920 @bterone @byhbt @carryall @hanam1ni @hoangmirs @junan @Lahphim @longnd @malparty @tyrro

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads