# Team
# @malparty is the Team Lead and the others are team members
* @aetheryna @andyduong1920 @bterone @byhbt @carryall @Goose97 @hoangmirs @longnd @malparty @vnntsu @tyrro @topnimble @sanG-github

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
