/node_modules/**
/config/**
/coverage/**
/public/**
/tmp/**
/vendor/**

/app/assets/builds/**

/app/javascript/channels/**
/app/javascript/translations/translations.js

/engines/*/node_modules/**
/engines/*/vendor/**
/engines/*/app/javascript/*/translations/translations.js
