{
  "extends": [
    <%- if @install_openapi -%>
      "@nimblehq/eslint-config-nimble-core",
      "plugin:yml/recommended"
    <%- else -%>
      "@nimblehq/eslint-config-nimble-core"
    <%- end -%>
  ],
  "globals": {
    "I18n": true
  },
  "parserOptions":{
    "ecmaVersion": "latest"
  }
}
