{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "no-eol-whitespace": true,
    "max-nesting-depth": 3,
    "scss/at-extend-no-missing-placeholder": null,
    "order/properties-alphabetical-order": null
  }
}
