[![Build Status](CI_BADGE_URL goes here)](REPO_URL goes here)

## Introduction

> *App introduction goes here ...*

## Documentation

Please check out full documentation on the [wiki](link to github wiki goes here).
