/node_modules/**
/config/**
/coverage/**
/public/**
/tmp/**
/vendor/**

postcss.config.js
babel.config.js

app/javascript/channels/*
app/javascript/translations/translations.js

engines/*/node_modules/**
engines/*/vendor/**
engines/*/app/javascript/*/translations/translations.js
