.github
.gitignore
.semaphore
.semaphore-cache
log/
tmp/
!tmp/docker
coverage/
<%- if WEB_VARIANT -%>
node_modules/
<%- end -%>
docker-compose.dev.yml
docker-compose.test.yml
docker-compose.yml
README.md
deploy/.terraform/
deploy/terraform.tfstate
deploy/terraform.tfstate.backup
