version: '3.8'

services:
  db:
    image: postgres:<%= POSTGRES_VERSION %>
    container_name: <%= CONTAINERIZED_APP_NAME %>-db
    environment:
      - POSTGRES_DB=<%= APP_NAME %>_development
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  redis:
    image: redis:<%= REDIS_VERSION %>
    container_name: <%= CONTAINERIZED_APP_NAME %>-redis
    ports:
      - "6379:6379"
