apiVersion: v1
kind: Secret
metadata:
  name: <%= DASHERIZED_APP_NAME %>-secret
  namespace: <%= DASHERIZED_APP_NAME %>-namespace
  labels:
    app: <%= DASHERIZED_APP_NAME %>
type: Opaque
data:
  DATABASE_URL: "FIX_ME"
