apiVersion: v1
kind: Service
metadata:
  name: <%= DASHERIZED_APP_NAME %>-service
  namespace: <%= DASHERIZED_APP_NAME %>-namespace
  labels:
    app: <%= DASHERIZED_APP_NAME %>
spec:
  selector:
    app: <%= DASHERIZED_APP_NAME %>
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
