version: '3.2'

services:
  db:
    image: postgres:12.1
    container_name: <%= APP_NAME %>_db
    environment:
      - POSTGRES_DB=<%= APP_NAME %>_development
    ports:
      - "5432:5432"

  redis:
    image: redis:5.0.7
    container_name: <%= APP_NAME %>_redis
    ports:
      - "6379:6379"
